<div class="grid-wrapper">
  <div class="search-container-outside" [class.sidebar-collapsed]="isCollapsed">

    <i class="fas fa-search search-icon"></i>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search in all column" (ngModelChange)="applySearch()"
      class="search-box" />
  </div>
  <kendo-grid #grid   [kendoGridBinding]="filteredData" [total]="totalCount" [skip]="skip" [pageSize]="pageSize"
    [sortable]="true" [height]="290" [reorderable]="true"(pageChange)="pageChangeHandler($event)">
    <ng-template kendoGridToolbarTemplate>
      <div class="toolbar-container">
        <div class="left-section">
          <h3 class="title">Activities</h3>
          <span class="count">Result: {{ totalCount }} Activities</span>
        </div>
        <div class="right-section">
          <div class="search-container">
            <!-- <button kendoGridExcelCommand class="excel-btn" title="Export to Excel">
            <img src="assets/excel.png" alt="Export Excel" class="excel-icon" />
          </button> -->

            <button class="excel-btn" title="Export to Excel" (click)="openExportDialog()" [class.sidebar-collapsed]="isCollapsed">
              <img src="assets/excel.png" alt="Export Excel" class="excel-icon" />
            </button>

          <i class="fa-solid fa-expand expand-icon" title="Expand Grid" (click)="onExpandClick()"></i>


            <!-- <i class="fas fa-cog settings-icon" title="Settings"></i> -->
            <i class="fa-solid fa-gear" title="Settings" style="cursor:pointer;padding-top: 1px"></i>
          </div>
        </div>
      </div>
    </ng-template>

    <kendo-grid-column field="ncrNumber" title="NCR Number" >
      <ng-template kendoGridHeaderTemplate>
        <i class="fas fa-grip-vertical drag-handle"></i>
        NCR Number
        <i class="fa-solid fa-ellipsis-vertical three-dots-icon" style="color: #b6b0b0; padding-left: 10px;"
          (click)="openFilterPopup('ncrNumber', $event)"></i>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="partId" title="Part ID" >
      <ng-template kendoGridHeaderTemplate>
        <i class="fas fa-grip-vertical drag-handle"></i>
        Part ID
        <i class="fa-solid fa-ellipsis-vertical three-dots-icon" style="color: #b6b0b0; padding-left: 10px;"
          (click)="openFilterPopup('partId', $event)"></i>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="productDesc" title="Product Description" >
      <ng-template kendoGridHeaderTemplate>
        <i class="fas fa-grip-vertical drag-handle"></i>
        Product Desc
        <i class="fa-solid fa-ellipsis-vertical three-dots-icon" style="color: #b6b0b0;padding-left: -40px!important;"
          (click)="openFilterPopup('productDesc', $event)"></i>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="partNo" title=" Part No" >
      <ng-template kendoGridHeaderTemplate>
        <i class="fas fa-grip-vertical drag-handle"></i>
        Part No
        <i class="fa-solid fa-ellipsis-vertical three-dots-icon" style="color: #b6b0b0; padding-left: 10px;"
          (click)="openFilterPopup('partNo', $event)"></i>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="ncrArea" title="NCR Area">
      <ng-template kendoGridHeaderTemplate>
        <i class="fas fa-grip-vertical drag-handle"></i>
        NCR Area
        <i class="fa-solid fa-ellipsis-vertical three-dots-icon" style="color: #b6b0b0; padding-left: 10px;"
          (click)="openFilterPopup('ncrArea', $event)"></i>
      </ng-template>
    </kendo-grid-column>

    <!-- <kendo-grid-column field="imputationCode" title="Imputation Code">
      <ng-template kendoGridHeaderTemplate>
        <i class="fas fa-grip-vertical drag-handle"></i>
        Imputation Code
        <i class="fa-solid fa-ellipsis-vertical three-dots-icon" style="color: #b6b0b0; padding-left: 10px;"
          (click)="openFilterPopup('imputationCode', $event)"></i>
      </ng-template>
    </kendo-grid-column> -->
    <kendo-grid-excel fileName="NCR_Activities.xlsx"></kendo-grid-excel>
  </kendo-grid>

  <div class="grid-pagination">
    <button (click)="onFirst()" [disabled]="skip === 0">««</button>
    <button (click)="onPrev()" [disabled]="skip === 0">«</button>

    <button
      *ngFor="let page of pages()"
      [ngClass]="{ active: currentPage() === page }"
      (click)="onPageClick(page)">
      {{ page }}
    </button>

    <button (click)="onNext()" [disabled]="skip + pageSize >= totalCount">»</button>
    <button (click)="onLast()" [disabled]="skip + pageSize >= totalCount">»»</button>
  </div>



  <kendo-popup *ngIf="filterPopupVisible && filterAnchor" [anchor]="filterAnchor" [popupClass]="'filter-popup'"
    [offset]="{ left: 0, top: 6 }" (close)="closeFilterPopup()">
    <div tabindex="0" (click)="$event.stopPropagation()">
      <div class="popup-header">
        <a class="clear-filter-link" (click)="clearColumnFilter()">Clear Filter</a>
        <span class="close-button" (click)="closeFilterPopup()">&times;</span>
      </div>

      <div class="popup-search-box">
        <i class="fas fa-search filtersearch-icon"></i>
        <input type="text" [(ngModel)]="filterSearch" placeholder="Search..." />
      </div>

      <div class="popup-options">
        <label *ngFor="let option of getFilteredPopupOptions()">
          <input type="checkbox" [checked]="pendingColumnFilters[activeFilterColumn!].has(option)"
            (change)="toggleFilterSelection(option)" />



          {{ option }}
        </label>
      </div>

      <div class="popup-buttons">
        <button class="apply-btn" (click)="applyColumnFilter()">OK</button>
      </div>
    </div>
  </kendo-popup>

  <kendo-dialog *ngIf="showExportDialog" title="Export Confirmation" (close)="onDialogClose(false)" [minWidth]="300"
    [width]="420" [themeColor]="dialogThemeColor">
    <h4 style="margin: 30px; text-align: center;">Do you want to export to Excel?</h4>

    <div class="confirm-dialog">
      <kendo-buttongroup selection="single" width="100%">
        <button kendoButton (click)="onDialogClose(false)" style="color: rgb(32, 32, 32);">No</button>
        <button kendoButton (click)="onDialogClose(true)"
          style="background-color:#008060;color: white">Yes</button>
      </kendo-buttongroup>
    </div>
  </kendo-dialog>
</div>
