<div class="mini-sidebar">
  <span class="icon-wrapper" title="Modules" (click)="onMenuClick('Modules')">
    <i class="material-symbols-outlined">device_hub</i>
  </span>
  <span class="icon-wrapper" title="Apps" (click)="onMenuClick('Modules')">
    <i class="material-symbols-outlined">apps</i>
  </span>

  <span class="icon-wrapper" title="File Manager" (click)="onMenuClick('File Manager')">
    <i class="material-symbols-outlined">folder_managed</i>
  </span>
  <span class="icon-wrapper" title="Tasks" (click)="onMenuClick('Tasks')">
    <i class="material-symbols-outlined">folder</i>
  </span>

  <span class="icon-wrapper" title="Contracts" (click)="onMenuClick('Contracts')">
    <i class="material-symbols-outlined">verified</i>
  </span>

  <span class="icon-wrapper" title="Users" (click)="onMenuClick('Users')">
    <i class="material-symbols-outlined">engineering</i>
  </span>

  <span class="icon-wrapper" title="Settings" (click)="onMenuClick('Settings')">
    <i class="material-symbols-outlined">settings</i>
  </span>

</div>
