.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 180px;
  height: auto;
  display: inline-block;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  text-align: left;
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.required {
  color: red;
}

input[type="email"],
input[type="password"],
.login-btn {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="email"],
input[type="password"] {
  border: 1px solid #ccc;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.checkbox label {
  margin-left: 8px;
}

.login-btn {
  background-color: #17795e;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #145f4c;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}

/* Custom green checkbox */
.custom-checkbox {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}


.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.custom-checkbox .checkmark {
  position: absolute;
  left: 0;
  // top: 2px;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.custom-checkbox:hover input ~ .checkmark {
  background-color: #ddd;
}


.custom-checkbox input:checked ~ .checkmark {
  background-color: #17795e;
  border-color: #17795e;
}

/* Show checkmark icon */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Checkmark shape */
.custom-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
